{% extends "template.html" %}

{% block title %}List of Apps{% endblock %}

{% block content %}
<h1>List of Apps</h1>
<h2>Treemaps</h2>
<ul>

  <li><a href="/treemap_of_bilateralTrade/?imp=usa&exp=deu&y=1999">Treemap of Bilateral Trade</a></li>
  <li><a href="/treemap_of_countryProducts/?c=deu&r=exp&y=2000">Treemap of Exports (SC)</a></li>
 <li><a href="/treemap_of_exports">Treemap of Exports</a></li>
  <li><a href="/treemap_of_countryProducts/?c=deu&r=imp&y=2000">Treemap of Imports</a></li>

   <li><a href="/treemap_of_tradePartners/?c=usa&r=imp&y=1999&p=41">Treemap of Import Partners by Product 41</a></li> 
  <li><a href="/treemap_of_tradePartners/?c=usa&r=imp&y=1999">Treemap of Import Partners</a></li> 
  <li><a href="/treemap_of_tradePartners/?c=usa&r=exp&y=1999">Treemap of Export Partners</a></li>  
   <li><a href="/treemap_of_productTraders/?p=40&r=imp&y=2001">Treemap of Product Exporters</a></li>

  <li><a href="/treemap_of_productTraders/?p=40&r=exp&y=2001">Treemap of Product Importers</a></li>


</ul>
<h2>Product Space</h2>
<ul>
	<li><a href="/product_space">Product Space</a></li>
	<li>Density Product Space</li>
</ul>
<h2>Stacked Charts</h2>
<ul>
	<li><a href="/stacked_share">Stacked Share</a></li>
	<li><a href="/stacked_value">Stacked Value</a></li>
</ul>
<h2>Proximity</h2>
<ul>
	<li><a href="/proximity_network">Proximity Network</a></li>
</ul>
{% endblock %}
